<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/main.css">
    <script defer src="../public/js/aplication.js"></script>
    <title>Document</title>
</head>

<body>
    <main class="main">
        <div class="container container-pop-up">
            <div class="pop-up">
                <h2 class="pop-up-title">Образование</h2>
                <div class="wrapper-educational-institution">
                    <div class="educational-institution-item education-item">
                        <h3 class="educational-institution-title">Уровень образования</h3>
                        <div class="block-educational-institution">
                            <div class="educational-institution name">
                                Среднее профессиональное
                            </div>
                        </div>
                        <div class="arrom-botton institution"></div>
                    </div>
                    <div class="educational-institution-item education-item">
                        <h3 class="educational-institution-title">Год окончания</h3>
                        <div class="block-educational-institution">
                            <div class="educational-institution year">
                                1992
                            </div>
                        </div>
                        <div class="arrom-botton years"></div>
                    </div>
                </div>
                <div class="education-item university">
                    <input class="education-input" type="text" name="university" placeholder="ВУЗ">
                </div>
                <div class="wrapper-diploma">
                    <div class="education-item">
                        <input class="education-input" type="text" name="diploma-series" placeholder="Серия диплома">
                    </div>
                    <div class="education-item">
                        <input class="education-input" type="text" name="diploma-number" placeholder="Номер диплома">
                    </div>
                </div>
                <div class="education-item">
                    <input class="education-input" type="text" name="diploma-specialty"
                        placeholder="Специальность по диплому">
                </div>
                <div class="education-item diploma-qualification">
                    <input class="education-input" type="text" name="diploma-qualification"
                        placeholder="Квалификация по диплому">
                </div>
                <div class="nostrification">
                    <div class="nostrification-check active"></div>
                    <h3 class="title-nostrification">Нострификация</h3>
                </div>
                <div class="education-item loading-document">
                    <span class="document">Документ:</span>
                    &nbsp;Загрузить файлы или&nbsp;
                    <span class="openexplorer">открыть проводник</span>
                </div>
                <div class="save-data-user">
                    <div class="save-data-item">
                        <button class="education-button save" type="text" name="save-data-user">Сохранить</button>
                        <span class="signature">Поля обязательные для заполнения</span>
                    </div>
                    <div class="save-data-item">
                        <button class="education-button cancellation" type="text" name="cancellation">Отмена</button>
                        <span class="signature cancellation">Поля видны для всех пользователей</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>